[submodule "SocketLib"]
	path = SocketLib
	url = https://github.com/Tomenz/SocketLib
	ignore = untracked
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
	ignore = untracked
